$mat-brand: (
    50 : #e5e5e7,
    100 : #bebfc3,
    200 : #93949b,
    300 : #686972,
    400 : #474954,
    500 : #272936,
    600 : #232430,
    700 : #1d1f29,
    800 : #171922,
    900 : #0e0f16,
    A100 : #5a76ff,
    A200 : #274bff,
    A400 : #0029f3,
    A700 : #0024da,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$mat-dark: (
    50 : #e3e3e4,
    100 : #b8b9ba,
    200 : #898a8d,
    300 : #5a5b5f,
    400 : #36373c,
    500 : #13141a,
    600 : #111217,
    700 : #0e0e13,
    800 : #0b0b0f,
    900 : #060608,
    A100 : #4f4fff,
    A200 : #1c1cff,
    A400 : #0000e8,
    A700 : #0000cf,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);



$mat-violet: (
    50 : #e5e5e7,
    100 : #bebfc3,
    200 : #93949b,
    300 : #686972,
    400 : #474954,
    500 : #272936,
    600 : #232430,
    700 : #1d1f29,
    800 : #171922,
    900 : #0e0f16,
    A100 : #5a76ff,
    A200 : #274bff,
    A400 : #0029f3,
    A700 : #0024da,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-error: (
    A100 : #bb3032,
    A200 : #972728,
);

$mat-warning: (
    A100 : #e99e27,
    A200 : #cd963f,
);

$mat-start: (
    A100 : #149a59,
    A200 : #27af6d,
    A300 : #3fd88e,
    A400 : #4fe19a,
);