<div class="main-container">
    <div class="login-container">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h1>Login</h1>
            <div class="input-section">
                <input type="email" class="input" placeholder="E-mail" formControlName="email">
                <div class="input__error"
                    *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched && loginForm.get('email').errors['required']">
                    Email address is required</div>

                <div class="input__error"
                    *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched && loginForm.get('email').errors['email']">
                    Email address is not valid</div>
            </div>
            <div class="input-section">
                <input type="password" class="input" placeholder="Password" formControlName="password">
                <div class="input__error"
                    *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched && loginForm.get('password').errors['required']">
                    Password is required</div>
            </div>

            <button [disabled]="loginForm.invalid" class="button--start" type="submit">Sign in</button>
        </form>

    </div>
</div>