@import "../theme/theme.scss";

button.old-button--sm {
    line-height: 26px;
}

.button {
    font-family: Roboto, sans-serif;
    appearance: none;
    background: linear-gradient(65deg, #5a76ff 0, #274bff 100%);
    display: inline-flex;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    align-items: baseline;
    padding: 13px 24px;
    height: 40px;
    text-align: center;
    white-space: nowrap;

    &:hover {
        cursor: pointer;
    }

    &--primary {
        background: linear-gradient(65deg, map_get($mat-brand, A100) 0, map_get($mat-brand, A200) 100%);

        &:hover {
            background: linear-gradient(65deg, darken(map_get($mat-brand, A100), 3) 0, darken(map_get($mat-brand, A200), 3) 100%);
        }

        &:active {
            background: linear-gradient(65deg, darken(map_get($mat-brand, A100), 6) 0, darken(map_get($mat-brand, A200), 6) 100%);
        }
    }

    &--error {
        background: linear-gradient(65deg, map_get($mat-error, A100) 0, map_get($mat-error, A200) 100%);

        &:hover {
            background: linear-gradient(65deg, darken(map_get($mat-error, A100), 3) 0, darken(map_get($mat-error, A200), 3) 100%);
        }

        &:active {
            background: linear-gradient(65deg, darken(map_get($mat-error, A100), 6) 0, darken(map_get($mat-error, A200), 6) 100%);
        }
    }

    &--warning {
        background: linear-gradient(65deg, map_get($mat-warning, A100) 0, map_get($mat-warning, A200) 100%);

        &:hover {
            background: linear-gradient(65deg, darken(map_get($mat-warning, A100), 3) 0, darken(map_get($mat-warning, A200), 3) 100%);
        }

        &:active {
            background: linear-gradient(65deg, darken(map_get($mat-warning, A100), 6) 0, darken(map_get($mat-warning, A200), 6) 100%);
        }
    }

    &--start {
        background: linear-gradient(65deg, map_get($mat-start, A100) 0, map_get($mat-start, A200) 100%);

        &:hover {
            background: linear-gradient(65deg, darken(map_get($mat-start, A100), 3) 0, darken(map_get($mat-start, A200), 3) 100%);
        }

        &:active {
            background: linear-gradient(65deg, darken(map_get($mat-start, A100), 6) 0, darken(map_get($mat-start, A200), 6) 100%);
        }
    }

    &--loading {
        pointer-events: none;
        background: linear-gradient(65deg, #c4cdd6 0, #87929c 100%);
    }

    &--full {
        width: 100%;
    }

    &--sm {
        height: 28px;
        padding: 6px 12px;
        font-size: 12px;
    }

    &--icon {
        background: transparent;
        padding: 0;
    }

    &--round {
        border-radius: 50%;
    }

    &--floating {
        position: fixed;
        right: 20px;
        bottom: 20px;
    }

    mat-icon {
        font-size: 17px;
        margin-right: 2px;
    }
}